## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation_df.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Port Elizabeth,ZA,62.6,light rain,-33.92,25.57,39 On Nile Guest House
1,2,Georgetown,MY,84.2,few clouds,5.41,100.34,Cititel Penang
2,3,Mar Del Plata,AR,78.8,broken clouds,-38.00,-57.56,Gran Hotel Mar del Plata
3,4,Clarence Town,AU,82.0,overcast clouds,-32.58,151.78,River Downs Cottage
4,5,New Norfolk,AU,61.0,overcast clouds,-42.78,147.06,The Shingles Riverside Cottages

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = WeatherPy_vacation_df.loc[vacation_df["City"] == "Neuquen"]
vacation_end = WeatherPy_vacation_df.loc[vacation_df["City"] == "Neuquen"]
vacation_stop1 = WeatherPy_vacation_df.loc[vacation_df["City"] == "Puerto Madryn"]
vacation_stop2 = WeatherPy_vacation_df.loc[vacation_df["City"] == "Viedma"] 
vacation_stop3 = WeatherPy_vacation_df.loc[vacation_df["City"] == "Mar Del Plata"]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-38.95, -68.06)
(-38.95, -68.06)
(-42.77, -65.04)
(-40.81, -63.0)
(-38.0, -57.56)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,331,Neuquen,AR,84.20,clear sky,-38.95,-68.06,Hotel del Comahue
1,331,Neuquen,AR,84.20,clear sky,-38.95,-68.06,Hotel del Comahue
2,383,Puerto Madryn,AR,65.73,clear sky,-42.77,-65.04,Hotel Tolosa
3,177,Viedma,AR,69.01,clear sky,-40.81,-63.00,Hotel Cristal
4,3,Mar Del Plata,AR,78.80,broken clouds,-38.00,-57.56,Gran Hotel Mar del Plata

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))